<!DOCTYPE html>

<html>
   <head>
      <title>Timestamp Microservice | freeCodeCamp.org</title>
      <link rel="shortcut icon" href="https://cdn.freecodecamp.org/universal/favicons/favicon-32x32.png" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
    <h1>Timestamp Microservice</h1>
    <hr />
    <div class="container">
      <h2>Example Usage:</h2>
      <ul>
        <li><a href="api/2015-12-25">[project url]/api/2015-12-25</a></li>
        <li><a href="api/1451001600000">[project url]/api/1451001600000</a></li>
      </ul>

      <h2>Example Output:</h2>
      <p>
        <code id ='result'>{Loading current time}</code>
      </p>
      <script>
        async function getCurrentTime(){
    const resultElement = document.getElementById('result');
    
    try {
        const response = await fetch("/api/time");  

        if (!response.ok) {
            throw new Error(`HTTP error! Status: ${response.status}`);
        }

        
        const data = await response.json(); // 

        console.log("Fetched Data:", data);  

        resultElement.textContent = JSON.stringify(data, null, 2);
    } catch(error) {
        console.error('Fetch Error:', error);
        resultElement.textContent = `Error: Unable to fetch time. (${error.message})`;
    }
}


getCurrentTime();
      </script>
    </div>
    <div class="footer">
      <p>
        By <a href="https://www.freecodecamp.org/">freeCodeCamp.org</a>
      </p>
    </div>
  </body>
</html>
